<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <style>
    .striped {
      color: white;
      background-color: grey;
    }
  </style>
  <script>
      var app = angular.module("myApp", []);
      app.controller("myCtrl", function($scope) {
        $scope.records =[ 
                          {"Name": "Suhit","Country": "India"},
                          {"Name": "Rathin","Country": "Canada"},
                          {"Name": "Hardip","Country": "USA"},
                          {"Name": "Smit","Country": "AUS"}
                        ];
        $scope.cars = [ 
                        {"model": "Ford"}, 
                        {"model": "Honda"}, 
                        {"model": "Volvo"},
                        {"model": "Hundai"}
                      ];
      });
  </script>

  <body ng-app="myApp">
    <center>
      
      <table ng-controller="myCtrl">
        <tr ng-repeat="x in records" ng-class-odd="'striped'">
          <td>{{x.Name}}</td>
          <td>{{x.Country}}</td>
        </tr>
      </table>
    
      <div ng-controller="myCtrl">
      <h4>Select a car:</h4>
      <select ng-model="selectedCar">
        <option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>
      </select>
      <h4>You car is: {{selectedCar}}</h4>
      </div>
      
      In bin:<input type="checkbox" ng-model="myVar" value="hide">
      <div ng-hide="myVar">
        <page ng-click="count=count+1" ng-init="count=0">OK</page>
        <p>You enter the 'OK', Howmany times?<br>Answer:<strong>{{count}}</strong></p>
        
        <input ng-focus="focus=focus+1" ng-copy="copied=true" ng-init="focus=0; copied=false; value='copy me'" ng-model="value">
        <br>Copy:<strong> {{copied}}</strong> and Focus={{focus}}<br><br>
        
        <data ng-dblclick="event=event+1" ng-cut="cut=true" ng-init="event=0; cut=false; value='cut'">Data</data><br>
        Cut: <strong>{{cut}}</strong> and Double click=<strong>{{event}}</strong>
        
      </div>
      
    </center>
  </body>

</html>
